<p id="notice"><%= notice %></p>

<p>
  <strong>Contest:</strong>
  <%= @cui.contest_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @cui.user_id %>
</p>

<p>
  <strong>Point:</strong>
  <%= @cui.point %>
</p>

