<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Input:</strong>
  <%= @io.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @io.output %>
</p>

<p>
  <strong>Contest:</strong>
  <%= @io.contest_id %>
</p>

</div>