<div class="container">
  <h1>About</h1>
  <hr>
  <h2>Mon Coder</h2>
  <p>
    Mon Coder is a platform for predictive modeling and analytics competitions on which companies prepare the data and a description of the problem and participants compete to produce the best models.

    For companies their data is fully anonymized to be published on DeepAnalytics.

    For data scientists they can put their data science skills to the test and in being palced in higher rank they will be rewarded.


    Each person is characterized by their rating, the number R. If person A's rating is RA, and person B's is equal to RB, then the formula <%= image_tag 'img2.png' %>

  </p>
</div>
